* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 18px;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   overflow: hidden;
}

#app {
   height: 10000px;
}

ul, ol {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

.menu-list {
   display: flex;
   align-items: center;
}

.menu-item {
   margin-left: 30px;
   position: relative;
   cursor: pointer;
}

.menu-item.active ul {
   visibility: visible;
   opacity: 1;
   transform: translate(0, 0);
}

.sub-menu-list {
   /* display: none; */
   /* opacity: 0;
   visibility: hidden;
   overflow: hidden; */
   visibility: hidden;
   transform: translate(0, 20px);
   opacity: 0;
   transition-duration: 500ms;
   position: absolute;
   top: 150%;
   left: 0;
   background-color: black;
   color: white;
   padding: 15px;
   width: 150px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.sub-menu-item {
   margin-bottom: 4px;
   font-size: 13px;
}

.key {
   width: 50px;
   height: 50px;
   background-color: black;
}

.popup {
   box-shadow: 5px 5px 10px black;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -30%);
   background-color: rgba(255, 255, 255, 0.9);
   z-index: 1000;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

   transition-duration: 600ms;
   
   visibility: hidden;
   opacity: 0;
}

.popup__inner {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 40px 30px;
   border: 3px solid red;
}

.popup.open {
   visibility: visible;
   opacity: 1;
   transform: translate(-50%, -50%);
}

.counter {
   display: flex;
   align-items: center;
   font-size: 20px;
   padding: 40px 10px;
}

.counter__value {
   margin: 0 5px;
}

.button {
   padding: 6px;
}